<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h2>Transaction Dashboard</h2>

<table border="1" cellpadding="10">

<tr>
    <th>Transaction</th>
    <th>Amount</th>
    <th>Status</th>
    <th>Method</th>
</tr>

{% for t in txns %}
<tr>
    <td>{{ t.tran_id }}</td>
    <td>{{ t.amount }}</td>
    <td>{{ t.status }}</td>
    <td>{{ t.payment_method }}</td>
</tr>

<tr>
    <td colspan="4">
        <details>
            <summary>🔍 View Raw SSLCommerz Data</summary>

            <h4>Callback:</h4>
            <pre>{{ t.raw_callback }}</pre>

            <h4>Validation:</h4>
            <pre>{{ t.raw_validation }}</pre>
        </details>
    </td>
</tr>
{% endfor %}

</table>

</body>
</html>