<!DOCTYPE html>
<html>
<head>
    <title>Payment Result</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <h2>Payment Result</h2>

    {% if txn.status == "SUCCESS" %}
        <h3 class="status-success">✅ Payment Successful</h3>

    {% elif txn.status == "SUCCESS WITH RISK" %}
        <h3 class="status-risk">⚠️ Payment Successful (With Risk)</h3>

    {% else %}
        <h3 class="status-failed">❌ Payment Status Unknown</h3>
    {% endif %}

    <p><b>Transaction ID:</b> {{ txn.tran_id }}</p>
    <p><b>Amount:</b> {{ txn.amount }}</p>
    <p><b>Payment Method:</b> {{ txn.payment_method }}</p>

    <br>

    <a href="/">🔁 Pay Again</a>
    <a href="/dashboard">📊 View Dashboard</a>

</div>

</body>
</html>