<!DOCTYPE html>
<html>
<head>
    <title>Success</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

    <h2>Payment Result</h2>

    {% if txn.status == "SUCCESS" %}
        <h3 class="status-success">✅ Payment Successful</h3>
    {% elif txn.status == "SUCCESS WITH RISK" %}
        <h3 class="status-risk">⚠️ Success With Risk</h3>
    {% else %}
        <h3 class="status-failed">❌ Failed</h3>
    {% endif %}

    <p>Transaction: {{ txn.tran_id }}</p>
    <p>Amount: {{ txn.amount }}</p>
    <p>Method: {{ txn.payment_method }}</p>

    <a href="/">Pay Again</a>
    <a href="/dashboard">Dashboard</a>

</div>

</body>
</html>